.wetherBg{
  background: url("https://www.accuweather.com/images/hero/4/1440x450.jpg");
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.heading{
  color:white;
  font-weight: 700;
}
.wetherResultBox{
  margin: auto;
  width: 500px;
  height: 300px;
}
.weathorIcon{
  margin-top: 2rem;
  width: 100px;
  height: 100px;
}
.weathorCity{
  font-size: 35px;
}
.weathorTemp{
  font-size:55px;
  font-weight: 700;
}
.weather-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.weather-bg {
  background-image: url("https://www.accuweather.com/images/hero/4/1440x450.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-content {
  text-align: center;
  color: white;
}

.input-group {
  margin-bottom: 20px;
}

.weather-forecast {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.forecast-heading {
  margin-bottom: 20px;
}

.forecast-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  margin-bottom: 20px;
}

.weather-icon {
  width: 50px;
  height: 50
}